<{extend name="public/base" /}>
<{block name="title"}>角色 - <{/block}>
<{block name="css"}>
    <link href="__PLUGIN__/jqgrid/css/ui.jqgrid.css" rel="stylesheet">
	<link href="__PLUGIN__/datapicker/css/datepicker.css" rel="stylesheet">
<{/block}>
<{block name="main"}>
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="row">
					<div class="col-sm-12" style="height: 25px;">
						<div class="ibox-tools">
							<div class="adm-fa-hover"><a href="javascript:window.location.href='<{:url('/manage/power/role/list')}>'"><i class="fa fa-refresh"></i></a></div>
						</div>
					</div>
                </div>
                <div class="row" id="jqGridRow">
                    <div class="jqGrid_wrapper">
                        <table id="table_list_2"></table>
                        <div id="pager_list_2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<{/block}>
<{block name="js"}>
    <script type="text/javascript" src="__PLUGIN__/jqgrid/js/jquery.jqGrid.min.js"></script>
    <script type="text/javascript" src="__PLUGIN__/jqgrid/js/i18n/grid.locale-cn.js"></script>
	<script type="text/javascript" src="__JS__/jqgrid-custom.js"></script>
<script type="text/javascript">
var statusJson = {"1":"正常","0":"禁用"};

$(document).ready(function() {
	$("#table_list_2").jqGrid({
        url: "<{:url('/manage/power/role/jqgridlist/list')}>",
		editurl: "<{:url('/manage/power/role/modify')}>",
		datatype: "json",
		height:$(window).height() - 177,
		autowidth: true,
		shrinkToFit: true,
		rowNum: <{$rows}>,
		rowList: [10, 20, 30],
        sortname: 'role_id',
        sortorder: 'desc',
		loadComplete : function(xhr){ //请求成功事件
			try{
				$('.ui-jqdialog-titlebar-close').click();
			}catch(e){}
		},
		colNames: ["序号", "角色名称", "状态", "备注"],
		colModel: [
			{name:"id",index: "role_id",width: 60,sorttype: "int",editable:true,align: "center",search: true,hidden:true},
			
			{name:"role_name",index:"role_name",align: "center",editable:true,width: 90,search: true,searchoptions:{sopt:["eq"]}},
			{name:"role_status",index:"role_status",align: "center",editable:true,edittype:'custom',editrules:{edithidden:true,required:true,number:true,minValue:0},
				editoptions:{
					custom_value: function(elem, oper, value){return getFreightElementValue(elem, oper, value, 'radio')},
					custom_element: function(value, editOptions){return createFreightEditElement(value, editOptions, statusJson, 'radio', 'single')}
				},
				formatter:function(cellvalue, options, rowObject){
					return arrFormat(cellvalue, statusJson, 'single');
				},
				unformat:function(cellvalue, options){
					return arrUnformat(cellvalue, statusJson, 'single');
				},
				width: 90,
				search: true,
				stype:'select',
				searchoptions:{
					value:getArrVal(statusJson, 'single'),
					sopt:["eq","ne"]
				},
            },
            {name:"remark",index:"remark",align: "center",editable:true,edittype:'text',editrules:{edithidden:true,required:false},width: 90,search: false,sortable:false}
		],
		pager: "#pager_list_2",
		viewrecords: true,
        pgbuttons:true,
		hidegrid: false
	}).navGrid('#pager_list_2', {edit: true, add: true, del: false, search:true,searchtext:''},{
		editCaption : "修改",
		top:50,
		left:($(document).innerWidth() - 400) / 5 * 2,
		width:500,
		jqModal : true,  
		reloadAfterSubmit : true,  
		afterShowForm : function(form) {
			
		},  
		afterSubmit: function(response, postdata) {
			if (response.responseJSON.code == 0) {
				return [false, response.responseJSON.msg];
			} else {
				layer.alert(response.responseJSON.msg, {icon: 1});
				return [true, '', ''];
			}
		}
	},{
		addCaption : "新增",
		top:50,
		left:($(document).innerWidth() - 400) / 5 * 2,
		width:500,
		modal:true,
		jqModal: true,
		reloadAfterSubmit : true,
		afterShowForm : function(form) {
			
		},  
		afterSubmit: function(response, postdata) {
			if (response.responseJSON.code == 0) {
				return [false, response.responseJSON.msg];
			} else {
				layer.alert(response.responseJSON.msg, {icon: 1});
				return [true, '', ''];
			}
		}
	},{
		caption: "删除",  
		msg: "确定删除所选记录？",  
		bSubmit: "删除",  
		bCancel: "取消",
		left:($(document).innerWidth() - 400) / 5 * 2,
		afterSubmit: function(response, postdata) {
			if (response.responseJSON.code == 0) {
				return [false, response.responseJSON.msg];
			} else {
				return [true, '', ''];
			}
		}
	},{
		caption : "搜索",
		top:50,
		left:($(document).innerWidth() - 400) / 5 * 2,
		width:500,
		multipleSearch:true
	}).navButtonAdd('#pager_list_2', {
		caption:"",
		buttonicon:"fa fa-legal",
		position: "last",
		title:"设置权限",
		cursor: "pointer",
		onClickButton:function(){
            var id = $("#table_list_2").jqGrid('getGridParam','selrow');
            if (!id) {
                layer.msg("请选择记录", {icon: 5, shade:0.3});
            } else {
                popup("<{:url('/manage/power/role/authorize')}>?role_id="+id, "权限设置");
            }
		}
	});
    //设置宽度
    jQuery("#table_list_2").setGridWidth($("#jqGridRow").innerWidth(), true);
});
</script>
<{/block}>