<{extend name="public/popup_base" /}>
<{block name="css"}>
<link href="__PLUGIN__/chosen_v1.6.2/chosen.min.css" rel="stylesheet">
<{if condition="$edittype eq 'html'"}>
<link href="__PLUGIN__/summernote/summernote.css" rel="stylesheet">
<link href="__PLUGIN__/summernote/summernote-bs3.css" rel="stylesheet">
<style type="text/css">
    .ad {display:none!important;display:none}
    .modal-backdrop{z-index: 1 !important;}
</style>
<{else}>
<link href="__PLUGIN__/markdown/css/bootstrap-markdown.min.css" rel="stylesheet">
<{/if}>
<{/block}>
<{block name="main"}>
<div class="row">
    <div class="ibox-content">
        <form id="modifyArticle" method="post" class="form-horizontal" action="<{:url('/manage/content/article/modify')}>">
            <input type="hidden" name="id" value="<{$article.article_id}>">
            <input type="hidden" name="edit_type" value="<{$edittype}>">
            <{if condition="empty($article)"}>
                <div class="form-group">
                    <label class="col-sm-2 control-label">文章类型</label>
                    <div class="col-sm-10">
                        <div class="radio radio-success radio-inline checkbox-circle">
                            <input id="template_html" value="word" name="template" type="radio" checked>
                            <label for="template_html"> 文章 </label>
                        </div>
                        <div class="radio radio-success radio-inline checkbox-circle">
                            <input id="template_imgs" value="imgs" name="template" type="radio">
                            <label for="template_imgs"> 相册 </label>
                        </div>
                        <span class="help-block text-warning"><i class="fa fa-info-circle"></i> 不选默认为文章类型</span>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
            <{/if}>
            <div class="form-group">
                <label class="col-sm-2 control-label">文章标题</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" name="title" value="<{$article.article_title}>" autocomplete="off" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">文章类别</label>
                <div class="col-sm-10">
                    <select class="form-control m-b" name="category" autocomplete="off" required>
                        <{volist name="catlist" id="vo"}>
                            <optgroup label="<{$vo.category_name}>">
                                <{if condition="!empty($vo['c'])"}>
                                    <{volist name="vo.c" id="v"}>
                                        <optgroup label="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|——<{$v.category_name}>">
                                            <{if condition="!empty($v['c'])"}>
                                                <{volist name="v.c" id="vi"}>
                                                    <option value="<{$vi.category_id}>" <{if condition="$article.article_category eq $vi.category_id"}>selected<{/if}>>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|——<{$vi.category_name}></option>
                                                <{/volist}>
                                            <{/if}>
                                        </optgroup>
                                    <{/volist}>
                                <{/if}>
                            </optgroup>
                        <{/volist}>
                    </select>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <label class="col-sm-2 control-label">发布时间</label>
                <div class="col-sm-10">
                    <input class="form-control laydate-icon" type="text" name="pub_time" value="<{$article.article_pub_time|default=time()|date="Y-m-d H:i", ###}>" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm'})" autocomplete="off" placeholder="" >
                    <span class="help-block text-warning"><i class="fa fa-info-circle"></i> 不选默认为待上线</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">文章状态</label>
                <div class="col-sm-10">
                    <div class="radio radio-success radio-inline checkbox-circle">
                        <input id="pub_pass" value="pass" name="if_pub" type="radio" <{if condition="$article.article_if_pub eq 'pass'"}>checked<{/if}> >
                        <label for="pub_pass"> 上线 </label>
                    </div>
                    <div class="radio radio-success radio-inline checkbox-circle">
                        <input id="pub_wait_auth" value="wait_auth" name="if_pub" type="radio" <{if condition="$article.article_if_pub eq 'wait_auth'"}>checked<{/if}> >
                        <label for="pub_wait_auth"> 待上线 </label>
                    </div>
                    <span class="help-block text-warning"><i class="fa fa-info-circle"></i> 不选默认为上线</span>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <label class="col-sm-2 control-label">文章标签</label>
                <div class="col-sm-10">
                    <input type="hidden" name="article_flag">
                    <select data-placeholder="请选择文章标签" id="article_flag" autocomplete="off" class="form-control chosen-select" multiple tabindex="4">
                        <option value=""></option>
                        <{volist name="flaglist" id="item"}>
                            <option value="<{$item.flag_id}>" hassubinfo="true" <{if condition="isset($article.article_flag) && in_array($item.flag_id, $article.article_flag)"}>selected<{/if}>><{$item.flag_name}></option>
                        <{/volist}>
                    </select>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-2 control-label">所属地区</label>
                <div class="col-sm-10 region-select-box" select-data-value="<{$article.article_region}>">
                    <div class="region-box"></div>
                    <span class="help-block text-warning"><i class="fa fa-info-circle"></i> 不选则无地区区分</span>
                </div>
                
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <label class="col-sm-2 control-label">文章简介</label>
                <div class="col-sm-10">
                    <textarea name="summary" class="form-control" autocomplete="off"><{$article.article_summary}></textarea>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <{if condition="empty($article)"}>
                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <div class="btn-group">
                            <{if condition="hasSettings('markdown_edit')"}>
                                <{if condition="$edittype eq 'html'"}>
                                <button class="btn btn-success" type="button">simditor编辑器</button>
                                    <button class="btn" type="button" onclick="javascript:window.location.href='<{:url("/manage/content/article/modify")}>?edittype=markdown';">MarkDown编辑器</button>
                                <{else}>
                                    <button class="btn" type="button" onclick="javascript:window.location.href='<{:url("/manage/content/article/modify")}>?edittype=html';">simditor编辑器</button>
                                    <button class="btn btn-success" type="button">MarkDown编辑器</button>
                                <{/if}>
                            <{/if}>
                            
                        </div>
                    </div>
                </div>
            <{/if}>
            
            <{if condition="hasSettings('markdown_edit')"}>
                <{if condition="$edittype eq 'html'"}>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">文章内容</label>
                        <div class="col-sm-10">
                            <div id="summernote_content"><{$article.articleWord.html}></div>
                            <textarea id="content" placeholder="这里输入内容" name="content" style="display: none;" class="form-control" autocomplete="off"></textarea>
                        </div>
                    </div>
                <{else}>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">文章内容</label>
                        <div class="col-sm-10">
                            <textarea data-provide="markdown" rows="10" placeholder="这里输入内容" name="content" class="form-control" autocomplete="off"><{$article.articleWord.html}></textarea>
                        </div>
                    </div>
                <{/if}>
            <{else}>
                <div class="form-group">
                    <label class="col-sm-2 control-label">文章内容</label>
                    <div class="col-sm-10">
                        <div id="summernote_content"><{$article.articleWord.html}></div>
                        <textarea id="content" placeholder="这里输入内容" name="content" style="display: none;" class="form-control" autocomplete="off"></textarea>
                    </div>
                </div>
            <{/if}>
                
                
                
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                    <button class="btn btn-primary" type="submit">保存内容</button>
                </div>
            </div>
        </form>
    </div>
</div>
<{/block}>
<{block name="js"}>
<script src="__PLUGIN__/chosen_v1.6.2/chosen.jquery.min.js"></script>
<{if condition="$edittype eq 'html'"}>
    <script src="__PLUGIN__/summernote/summernote.min.js"></script>
    <script src="__PLUGIN__/summernote/summernote-zh-CN.js"></script>
    <script src="__JS__/content.min.js?v=1.0.0"></script>
<{else}>
<script type="text/javascript" src="__PLUGIN__/markdown/js/markdown.js"></script>
<script type="text/javascript" src="__PLUGIN__/markdown/js/to-markdown.js"></script>
<script type="text/javascript" src="__PLUGIN__/markdown/js/bootstrap-markdown.js"></script>
<script type="text/javascript" src="__PLUGIN__/markdown/js/bootstrap-markdown.zh.js"></script>
<{/if}>
<script type="text/javascript">
function sendFile(file, editor, editable, url){
    var formData = new FormData();
    formData.append("contentfile", file[0]);
    formData.append('fileName', 'contentfile');
    formData.append('fileDistrict', 'content');
    $.ajax({
        data: formData,  
        type: "POST",
        url: url,
        cache: false,
        contentType: false,
        processData: false,
        success: function(json) {
            if (json.code == 0) {
                parent.parent._toastr('error', '错误提示', json.msg);
            } else {
                editor.insertImage(editable, json.urlimg); 
            }
        },
        error: function() {
            parent.parent._toastr('error', '错误提示', '网络错误');
        }
    })
}
$(function(){
    $(".chosen-select").chosen();
    
    <{if condition="$edittype eq 'html'"}>
    
        $("#summernote_content").summernote({
            height: 200,
            focus:true,
            lang: "zh-CN",
            onImageUpload: function(files, editor, editable) {
                sendFile(files, editor, editable, "<{:url('/manage/upload')}>");
            }
        })
    <{else}>
        <{if condition="!hasSettings('markdown_edit')"}>
            parent.parent._toastr('warning', '警告提示', '系统未开启Markdown文本编辑器');
        <{/if}>
    <{/if}>
    $("input[name='template']").change(function(){
        if ($(this).val() == 'imgs') {
            layer.load();
            <{if condition="$article"}>
                window.location.href="<{:url('/manage/content/atlas/modify/'.$article.article_id)}>";
            <{else}>
                window.location.href="<{:url('/manage/content/atlas/modify')}>";
            <{/if}>
            
        }
    });
    $("#modifyArticle").Validform({
        tiptype:function(msg, o, cssctl){
            if (o.type != 2) {
                parent.parent._toastr('warning', '警告提示', msg);
                return false;
            }
        },
        ajaxPost:true,
        beforeSubmit:function(form){
            var add_article_load = layer.load();
            $("#content").val($('#summernote_content').code());
            
            if (!$('#article_flag').val()) {
                layer.close(add_article_load);
                parent.parent._toastr('warning', '警告提示', '请选择标签');
                return false;
            }
            $('input[name=article_flag]').val($('#article_flag').val().join(','));
            $.ajax({
                type    : $(form).attr('method'),
                url     : $(form).attr('action'),
                data    : $(form).serialize(),
                dataType: 'json',
                success : function(data){
                    layer.close(add_article_load);
                    if (data.code == 1) {
                        parent.parent._toastr('success', '成功提示', data.msg);
                        parent.window.location.reload();
                    } else {
                        parent.parent._toastr('error', '错误提示', data.msg);
                        return;
                    }
                },
                error:function(){
                    layer.close(add_article_load);
                    parent.parent._toastr('error', '错误提示', '网络错误');
                }
            });
            return false;
        }
    });
});
</script>
<{/block}>