<{extend name="public/popup_base" /}>
<{block name="css"}>
<{/block}>
<{block name="main"}>
<div class="row">
    <div class="ibox-content">
        <form id="modifyCatgory" method="post" class="form-horizontal" action="<{:url('/manage/content/cat/modify')}>">
            <input type="hidden" name="id" value="<{$category.category_id}>">
            <div class="form-group">
                <label class="col-sm-2 control-label">分类名称</label>
                <div class="col-sm-10 col-sm-4">
                    <input class="form-control" type="text" name="name" value="<{$category.category_name}>" autocomplete="off" required>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <label class="col-sm-2 control-label">分类标签</label>
                <div class="col-sm-10 col-sm-4">
                    <input class="form-control" type="text" name="tag" value="<{$category.category_tag}>" autocomplete="off" required>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <label class="col-sm-2 control-label">上级分类</label>
                <div class="col-sm-10 col-sm-4">
                    <select class="form-control m-b" name="pid" autocomplete="off" required>
                        <option value="0" <{if condition="$category.category_pid eq 0"}>selected<{/if}>>顶级分类</option>
                        <{volist name="list" id="vo"}>
                            <option value="<{$vo.category_id}>" <{if condition="$category.category_pid eq $vo.category_id"}>selected<{/if}> >|——<{$vo.category_name}></option>
                            <{if condition="!empty($vo['c'])"}>
                                <{volist name="vo.c" id="v"}>
                                    <option value="<{$v.category_id}>" <{if condition="$category.category_pid eq $v.category_id"}>selected<{/if}>>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|——<{$v.category_name}></option>
                                    <{if condition="!empty($v['c'])"}>
                                        <{volist name="v.c" id="vi"}>
                                            <option value="<{$vi.category_id}>" <{if condition="$category.category_pid eq $vi.category_id"}>selected<{/if}>>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|——<{$vi.category_name}></option>
                                        <{/volist}>
                                    <{/if}>
                                <{/volist}>
                            <{/if}>
                        <{/volist}>
                    </select>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <label class="col-sm-2 control-label">分类状态</label>
                <div class="col-sm-10 col-sm-4">
                    <div class="radio radio-success radio-inline checkbox-circle">
                        <input id="enabled" value="0" name="disabled" type="radio" checked>
                        <label for="enabled"> 使用 </label>
                    </div>
                    <div class="radio radio-success radio-inline checkbox-circle">
                        <input id="disabled" value="1" name="disabled" type="radio">
                        <label for="disabled"> 删除 </label>
                    </div>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                    <button class="btn btn-primary" type="submit">保存内容</button>
                </div>
            </div>
        </form>
    </div>
</div>
<{/block}>
<{block name="js"}>
<script type="text/javascript">
$(function(){
    $("#modifyCatgory").Validform({
        tiptype:function(msg, o, cssctl){
            if (o.type != 2) {
                parent.parent._toastr('warning', '警告提示', msg);
                return false;
            }
        },
        ajaxPost:true,
        beforeSubmit:function(form){
            var add_catgory_load = layer.load();
            $.ajax({
                type    : $(form).attr('method'),
                url     : $(form).attr('action'),
                data    : $(form).serialize(),
                dataType: 'json',
                success : function(data){
                    layer.close(add_catgory_load);
                    if (data.code == 1) {
                        parent.parent._toastr('success', '成功提示', data.msg);
                        parent.window.location.reload();
                    } else {
                        parent.parent._toastr('error', '错误提示', data.msg);
                        return;
                    }
                },
                error:function(){
                    layer.close(add_catgory_load);
                    parent.parent._toastr('error', '错误提示', '网络错误');
                }
            });
            return false;
        }
    });
});
</script>
<{/block}>