<{extend name="public/base" /}>
<{block name="title"}>管理面板 - <{/block}>
<{block name="main"}>
<div class="row">
    <div class="col-sm-12">
        <div class="col-md-6">
            <div class="ibox-content">
                <div>
                    <div>
                        <span>内存</span>
                        <small class="pull-right">10/200 GB</small>
                    </div>
                    <div class="progress progress-small">
                        <div style="width: 60%;" class="progress-bar"></div>
                    </div>
                    <div>
                        <span>带宽</span>
                        <small class="pull-right">20 GB</small>
                    </div>
                    <div class="progress progress-small">
                        <div style="width: 50%;" class="progress-bar"></div>
                    </div>
                    <div>
                        <span>占用</span>
                        <small class="pull-right">73%</small>
                    </div>
                    <div class="progress progress-small">
                        <div style="width: 40%;" class="progress-bar"></div>
                    </div>
                    <div>
                        <span>FTP</span>
                        <small class="pull-right">400 GB</small>
                    </div>
                    <div class="progress progress-small">
                        <div style="width: 20%;" class="progress-bar progress-bar-danger"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<{/block}>
<{block name="js"}>
<{/block}>