<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title><{block name="title"}><{/block}><{:config('site.title')}></title>
    <meta name="keywords" content="<{:config('site.title')}>">
    <meta name="description" content="<{:config('site.title')}>">
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    <!--<link rel="shortcut icon" href="favicon.ico">-->
    <link href="__CSS__/bootstrap.min.css" rel="stylesheet">
    <link href="__CSS__/font-awesome.min.css" rel="stylesheet">
    <link href="__CSS__/animate.min.css" rel="stylesheet">
    <link href="__CSS__/style.min.css" rel="stylesheet">
    <link href="__PLUGIN__/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
    <link href="__CSS__/admin.min.css" rel="stylesheet">
    <{block name="css"}><{/block}>
    <style>
        .wrapper-content{padding:5px;}
        .wrapper{padding: 0 5px;}
        .ibox{margin-bottom:5px;}
    </style>
</head>
<script type="text/javascript">
window.site = {
    'base':'<{:DOMAIN}>',
    'region':'<{:config("region_json_file_web")}>'
};
</script>
<body class="gray-bg">
<div class="wrapper wrapper-content animated">
    <{block name="main"}><{/block}>
</div>
</body>

<script src="__JS__/jquery.min.js"></script>
<script src="__JS__/bootstrap.min.js"></script>
<script src="__PLUGIN__/metisMenu/jquery.metisMenu.js"></script>
<script src="__PLUGIN__/slimscroll/jquery.slimscroll.min.js"></script>
<script src="__PLUGIN__/layer-v2.4/layer.js"></script>
<script src="__PLUGIN__/laydate-v1.1/laydate.js"></script>
<script src="__PLUGIN__/laypage-v1.3/laypage.js"></script>
<script src="__JS__/hplus.min.js"></script>
<script src="__PLUGIN__/validform/js/validform.min.js"></script>
<script src="__JS__/contabs.min.js"></script>
<script src="__JS__/content.min.js"></script>
<script src="__PLUGIN__/pace/pace.min.js"></script>
<script src="__JS__/admin.min.js"></script>
<{block name="js"}><{/block}>
</html>