    <footer id="footer">
        <div class="center-block pager">
            <p><img src="__IMAGE__/logo.png" style="width: 50px;"></p>
            <p>This is just a flag！</p>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <span>Copyright © 2017 <a href="http://<{:config('site.baseurl')}>"><{:config('site.title')}></a></span> | 
                        <span><a href="http://<{:config('site.baseurl')}>" target="_blank"><{:config('site.record_varchar')}></a></span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
